<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueBALL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{22,96},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blueLIE1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{1,63},{16,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueLIE2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{1,22},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueLIE3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{29,55},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenBALL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{42,76},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenLIE1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{42,95},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenLIE2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{1,43},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenLIE3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,19}</string>
                <key>spriteSourceSize</key>
                <string>{26,19}</string>
                <key>textureRect</key>
                <string>{{30,34},{26,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowBALL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{22,76},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowLIE1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{1,92},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowLIE3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,18}</string>
                <key>spriteSourceSize</key>
                <string>{31,18}</string>
                <key>textureRect</key>
                <string>{{39,1},{31,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yelowLIE2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{61,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caba29049f398445eed860f3a7aae554:8f9396ee9639c50051f9cd3c648ed53b:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
