<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueGOU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{29,1},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenGOU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,38}</string>
                <key>spriteSourceSize</key>
                <string>{23,38}</string>
                <key>textureRect</key>
                <string>{{1,40},{23,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellowGOU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{41,36},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gou.png</string>
            <key>size</key>
            <string>{63,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be744dfc79774c4e536f99f0baec81d7:de4f3bacf618def6ed4378a6543b3df3:1e9ee8b08075ae05da5497ca5915d039$</string>
            <key>textureFileName</key>
            <string>gou.png</string>
        </dict>
    </dict>
</plist>
