<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,239}</string>
                <key>spriteSourceSize</key>
                <string>{224,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,255}</string>
                <key>spriteSourceSize</key>
                <string>{192,255}</string>
                <key>textureRect</key>
                <string>{{1,242},{192,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magic.png</string>
            <key>size</key>
            <string>{226,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb9958e3c155965ab9a422ea6722f5f7:2d1ca7e4acfe6b5bbc41e32101cab7cc:429454412616a97fdd69075ee395674e$</string>
            <key>textureFileName</key>
            <string>magic.png</string>
        </dict>
    </dict>
</plist>
