<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{133,795},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{131,493},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{76,100}</string>
                <key>textureRect</key>
                <string>{{161,391},{76,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,104}</string>
                <key>spriteSourceSize</key>
                <string>{89,104}</string>
                <key>textureRect</key>
                <string>{{1,689},{89,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,84}</string>
                <key>spriteSourceSize</key>
                <string>{89,84}</string>
                <key>textureRect</key>
                <string>{{131,583},{89,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,104}</string>
                <key>spriteSourceSize</key>
                <string>{68,104}</string>
                <key>textureRect</key>
                <string>{{92,689},{66,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,116}</string>
                <key>spriteSourceSize</key>
                <string>{72,116}</string>
                <key>textureRect</key>
                <string>{{1,795},{72,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,44}</string>
                <key>spriteSourceSize</key>
                <string>{69,44}</string>
                <key>textureRect</key>
                <string>{{188,755},{69,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,57}</string>
                <key>spriteSourceSize</key>
                <string>{84,57}</string>
                <key>textureRect</key>
                <string>{{160,669},{84,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,128}</string>
                <key>spriteSourceSize</key>
                <string>{79,128}</string>
                <key>textureRect</key>
                <string>{{161,261},{79,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,104}</string>
                <key>spriteSourceSize</key>
                <string>{56,104}</string>
                <key>textureRect</key>
                <string>{{75,795},{56,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{240,258}</string>
                <key>spriteSourceSize</key>
                <string>{240,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,216}</string>
                <key>spriteSourceSize</key>
                <string>{128,216}</string>
                <key>textureRect</key>
                <string>{{1,471},{128,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,208}</string>
                <key>spriteSourceSize</key>
                <string>{158,208}</string>
                <key>textureRect</key>
                <string>{{1,261},{158,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plant.png</string>
            <key>size</key>
            <string>{242,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d1448cf23b5a7937d72ca2215a5eb2:7fa1997f22900730d967561e3581ecc9:91906e0a1a55e521ac991aff97f61949$</string>
            <key>textureFileName</key>
            <string>plant.png</string>
        </dict>
    </dict>
</plist>
