<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,99}</string>
                <key>spriteSourceSize</key>
                <string>{120,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,100}</string>
                <key>textureRect</key>
                <string>{{235,1},{105,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{123,1},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonAttack.png</string>
            <key>size</key>
            <string>{341,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61303e54fee379a7a711e75453fbec0d:0601ad1f5b728ae7695fb5e325ea1920:548f7ffe7250898a0fcb89b4f8e1f085$</string>
            <key>textureFileName</key>
            <string>dragonAttack.png</string>
        </dict>
    </dict>
</plist>
