<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{945,136},{86,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,87}</string>
                <key>spriteSourceSize</key>
                <string>{85,87}</string>
                <key>textureRect</key>
                <string>{{771,136},{85,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,85}</string>
                <key>textureRect</key>
                <string>{{858,136},{87,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fallball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{771,1},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fallball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,133}</string>
                <key>spriteSourceSize</key>
                <string>{137,151}</string>
                <key>textureRect</key>
                <string>{{900,1},{123,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{429,211},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{454,211},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pillar0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{240,168}</string>
                <key>textureRect</key>
                <string>{{601,1},{194,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pillar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{170,208}</string>
                <key>spriteSourceSize</key>
                <string>{180,208}</string>
                <key>textureRect</key>
                <string>{{429,1},{170,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pillar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,235}</string>
                <key>spriteSourceSize</key>
                <string>{146,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pillar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,234}</string>
                <key>spriteSourceSize</key>
                <string>{142,234}</string>
                <key>textureRect</key>
                <string>{{149,1},{142,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pillar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,234}</string>
                <key>spriteSourceSize</key>
                <string>{142,234}</string>
                <key>textureRect</key>
                <string>{{293,1},{134,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>foeAttack.png</string>
            <key>size</key>
            <string>{1029,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:003a770fe7eeb3b3b22066a3c02440df:d3def5fd0d9b84a56c37636f43471a03:e0d75ed51e565b91b94cd7891a52510d$</string>
            <key>textureFileName</key>
            <string>foeAttack.png</string>
        </dict>
    </dict>
</plist>
